@CHARSET "ISO-8859-1";

#register{

}

.block{
	display:block;
}

#register form input{
	display:block;
}

#login form h2{
	text-align:center;
	color:rgb(87,87,87);
}
#login form label{
	padding-left:5px;
}
#login form input{
	display:block;
	width:200px;
	padding-left:10px;
	margin-left:5px;
}
#login form input[type="submit"]{
	width:50px;
	margin-left:70px;
	
}

#login{
	margin-left:45%;
	margin-bottom:10px;
	margin-top:43px;
	background-color:rgb(230,230,230);
	width:15%;
	
	
}

#registerCompany{
	margin-left:45%;
	margin-bottom:10px;
}

#registerCompany form input{
	display:block;
}

#registerCurriculum{
	margin-left:45%;
	margin-bottom:10px;
	background-color:rgb(230,230,230);
	width:20%;
	padding-left:80px;
	margin-right:10px;
	margin-top:40px;
}

#registerCurriculum form input{
	display:block;
}
#registerCurriculum form input[type="submit"]{
	margin-left:40px;
}

#registerCompany{
	margin-left:45%;
	margin-bottom:10px;
	background-color:rgb(230,230,230);
	width:20%;
	padding-left:80px;
	margin-right:10px;
	margin-top:40px;
}
#registerCompany form h2{
	color:rgb(87,87,87);
}


