@CHARSET "ISO-8859-1";

body {
	font-family: Arial;
}

#container {
	width: 80%;
	margin: 0 auto;
}

#header {
	background-color: white;
	margin-bottom: 30px;
}

#nav {
	float: right;
	margin-right: 150px;
	margin-top: 20px;
}
/*
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
*/
#nav a {
	background-color: rgb(249, 124, 0);
	color: white;
	border: 1px solid grey;
	padding-left: 5px;
	padding-right: 5px;
}

#nav a:link {
	text-decoration: none;
}

#nav a:hover {
	
}

#nav a:visited {
	text-decoration: none;
	background-color: rgb(249, 124, 0);
	color: white;
}

.decoEnlaces {
	text-decoration: none;
}

#buscador {
	background-color: rgb(249, 124, 0);
	
}


#buscador form {
	position: relative;
	left: 70%;
	display:inline;
}

#buscador form input[type=text]{
	width:300px;
	height:30px;
	font-size:20px;
	background-color:rgb(230,230,230);
	border:3px solid rgb(249,124,0);
	color:rgb(87,87,87);
	padding-left:10px;
	
}

#buscador form input[type=submit]{
	height:100%;
	background-color:white;
	font-size:20px;
	font-family:Verdana;
	/*margin-top:10px;*/
	
}

#buscador form input[type=text]:focus{
	border:3px solid white;
}


#socialLinks { /*float:left;*/
	display: inline;
}

#socialLinks a {
	padding: 5px;
}

#centerContent {
	background-color: white;
	margin: 0 auto;
}

#avisos {
	width:600px;
	float:left;
	margin-left:45px;
	
}
#avisos h1{
	background-color:rgb(249,124,0);
	color:white;
	padding-left:10px;
}

.aviso{
	position:relative;
	width:300px;
	height:100px;
	border-bottom:3px solid rgb(15,109,179);
	
	float:left;
}

#avisos img{
	width:100px;
	height:100px;
	float:left;
	padding-right:5px;
}

#auspiciantes {
	background-color: white;
	padding: 10px;
	padding-left: 30%;
}

#auspiciantes img {
	width: 125px;
	height: 90px;
	border: 1px solid rgb(221, 221, 221);
}

#leftContent {
	background-color: white;
	margin-top:150px;
	margin-right:20px;
	float: left;
	width:25%;
	height:100%;
}
#leftContent h2{
	color:rgb(87,87,87);
	padding-left:10px;
	padding-top:5px;
}
#leftContent ul li{
	list-style:none;
	padding-bottom:20px;
}

#leftContent a{
	text-decoration:none;
	color:rgb(87,87,87);
	
}
#leftContent a:hover{
	font-size:20px;
	padding-left:10px;
}


#categorias {
	background-color: rgb(230,230,230);
	color:rgb(87,87,87);
}



#footer {
	height: 50px;
	background-color: rgb(230,230,230);
	border: 1px solid grey;
	clear: both;
	text-algin: center;
	height:100px;
	
}

#enlacesFooter{
	padding-left: 35%;
	padding-top:25px;
	padding-bottom:5px;
	
}
#addthis{
	padding-left: 40%;
	padding-top:10px;
	
}

#footer a{
	text-decoration:none;
	color:rgb(87,87,87);
	padding-right:20px;
}
#footer a:visited{
	text-decoration:none;
	color: black;
}



	